        
        <div id="cabecalho">
            <h1>Sistema para Petshop</h1>
        </div>

        <div class="menu">
            <ul>
                <ul class="itens" id="menu1"><a href="/">Página inicial</a></ul>
                <ul class="itens" id="menu2"><a href="/compraCadastro">Fazer Compra</a></ul>
                <ul class="itens" id="menu2"><a href="/compraConsulta">Consulta de compra</a></ul>
                <ul class="itens" id="menu2"><a href="/produtoCadastro">Cadastro de produto</a></ul>
                <ul class="itens" id="menu2"><a href="/produtoConsulta">Consulta de produto</a></ul>
                <ul class="itens" id="menu2"><a href="/clienteCadastro">Cadastro de cliente</a></ul>
                <ul class="itens" id="menu2"><a href="/clienteConsulta">Consulta de cliente</a></ul>
            </ul>
        </div>