        
        <div id="cabecalho">
            <h1>Sistema de Aluguel de Tema de Festa</h1>
        </div>

        <div class="menu">
            <ul>
                <ul class="link" id="menu1"><a href="/">Página inicial</a></ul>
                <ul class="submenu">Consulta</ul> 
                <ul class="link"><a href="/agenda">Agenda</a></ul>
                <ul class="link" id="menu2"><a href="/festaConsulta">Festa</a></ul>
                <ul class="link" id="menu2"><a href="/clienteConsulta">Cliente</a></ul>
                <ul class="link" id="menu2"><a href="/itemConsulta">Item</a></ul>
                <ul class="submenu">Cadastro</ul>
                <ul class="link" id="menu2"><a href="/festaCadastro">Aluguel de Festa</a></ul>
                <ul class="link" id="menu2"><a href="/clienteCadastro">Cliente</a></ul>
                <ul class="link" id="menu2"><a href="/itemCadastro">Item</a></ul>
                <ul>Adminstrativo</ul>
            </ul>
        </div>