<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/header.ejs') %>
    </head>
    <body>
        <%- include('../partials/menu.ejs') %>

        <!-- ------------------------- AQUI COMEÇA O BLOCO DE CONTEUDO -------------------------- -->

        <div class='title'>
            <h1>Cadastro de Festa</h1>
        </div>
        <div class='forms'>
            <form method='POST' action='/festaCadastro'> 

                <div class='linha'>
                    <label class='label' for='dataFesta'>Data da festa</label>
                    <input type='date' id='dataFesta' name='dataFesta'/>

                    <label class='label' for='horaMontagem'>Entrega as</label>
                    <input type='text' size='3' placeholder='horas' id='horaMontagem' name='horaMontagem'/>

                    <label class='label' for='horaDesmontagem'>Desmontagem as</label>
                    <input type='text' size='3' placeholder='horas' id='horaDesmontagem' name='horaDesmontagem'/>
                </div>

                <div class='linha'>
                    <label class='label' for='cep'>CEP</label>
                    <input type='text' id='cep' name='cep'/>                
                    
                    <label class='label' for='uf'>UF</label>
                    <select id="uf" name="uf">
                        <option value=""></option>
                        <option value="SC">SC</option>
                        <option value="RS">RS</option>
                        <option value="PR">PR</option>
                    </select>

                    <label class='label' for='cidade'>Cidade</label>
                    <input type='text' id='cidade' name='cidade'/>
                </div>

                <div class='linha'>
                    <label class='label' for='endereco'>Endereço</label>
                    <input type='text' id='endereco' name='endereco'/>
                </div>

                <div class='linha'>
                    <label class='label' for='cpfCliente'>CPF do Cliente</label>
                    <input type='text' id='cpfCliente' name='cpfCliente'/>

                    <label class='label' for='nomeCliente'>Nome</label>
                    <input type='text' id='nomeCliente' name='nomeCliente'/>

                    <button href='#'>Consultar</button>
                </div>

                <div class='linha'>
                    <label class='label' for='valorFesta'>Valor da Festa</label>
                    <input type='text' id='valorFesta' name='valorFesta'/>

                    <label class='label' for='status'>Status</label>
                    <select id="status" name="status">
                        <option value=""></option>
                        <option value="A">Agendado</option>
                        <option value="P">Pago</option>
                        <option value="E">Entregue</option>
                        <option value="F">Fechado</option>
                    </select>
                </div>

                <div class='linha'>
                    <label class='label' for='observacao'>Observação</label>
                    <input type='text' id='observacao' name='observacao'/>
                </div>

                <div class='linha'>
                    <input type='submit' id='submit' value='Cadastrar' name='cadastro'/>
                </div>
            
            </form>
        </div>
        <!-- ------------------------- AQUI TERMINA O BLOCO DE CONTEUDO ------------------------- -->

    </body>
    <footer>
        <%- include('../partials/footer.ejs') %> 

        <%
        if(info == 1){ %>
            <script> alert("Festa cadastrada com sucesso");</script>
        <% } %>
    </footer>
</html>