<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/header.ejs') %>
    </head>
    <body>
        <%- include('../partials/menu.ejs') %>

        <!-- ------------------------- AQUI COMEÇA O BLOCO DE CONTEUDO -------------------------- -->

        <div class='title'>
            <h1>Cadastro de Festa</h1>
        </div>
        <div class='conteudo'>
            <div class='forms'>
                <form method='POST' action='/festaCadastro'> 

                    <div class='linha'>
                        <div class='conjunto campoTamMed'>
                            <label class='label' for='dataFesta'>Data da festa</label>
                            <input class='campo' type='date' id='dataFesta' name='dataFesta'/>
                        </div>
                        <div class='conjunto campoTamMin'>
                            <label class='label' for='horaMontagem'>Entrega</label>
                            <input class='campo' type='text' placeholder='Horas' id='horaMontagem' name='horaMontagem'/>
                        </div>
                        <div class='conjunto campoTamMin'>
                            <label class='label' for='horaDesmontagem'>Retirada</label>
                            <input class='campo' type='text' placeholder='Horas' id='horaDesmontagem' name='horaDesmontagem'/>
                        </div>
                    </div>

                    <div class='linha'>
                        <div class='conjunto campoTamMin'>
                            <label class='label' for='cep'>CEP</label>
                            <input class='campo'  type='text' id='cep' name='cep'/>  
                        </div>              
                        
                        <div class='conjunto campoTamMin'>
                            <label class='label' for='uf'>UF</label>
                            <select class='campo' id="uf" name="uf">
                                <option value=""></option>
                                <option value="SC">SC</option>
                                <option value="RS">RS</option>
                                <option value="PR">PR</option>
                            </select>
                        </div>

                        <div class='conjunto campoTamMed'>
                            <label class='label' for='cidade'>Cidade</label>
                            <input class='campo' type='text' id='cidade' name='cidade'/>
                        </div>
                    </div>

                    <div class='linha'>
                        <div class='conjunto campoTamMax'>
                            <label class='label' for='endereco'>Endereço</label>
                            <input class='campo' type='text' id='endereco' name='endereco'/>
                        </div>
                    </div>

                    <div class='linha'>
                        <div class='conjunto campoTamMin'>
                            <label class='label' for='cpfCliente'>CPF do Cliente</label>
                            <input class='campo' type='text' id='cpfCliente' name='cpfCliente'/>
                        </div>

                        <div class='conjunto campoTamMed'>
                            <label class='label' for='nomeCliente'>Nome</label>
                            <input class='campo' type='text' id='nomeCliente' name='nomeCliente'/>
                        </div>

                        <button class='botao botaoConsulta' href='#'>Consultar</button>
                    </div>

                    <div class='linha'>
                        <div class='conjunto campoTamMed'>
                            <label class='label' for='valorFesta'>Valor da Festa</label>
                            <input class='campo' type='text' id='valorFesta' name='valorFesta'/>
                        </div>

                        <div class='conjunto campoTamMed'>
                            <label class='label' for='status'>Status</label>
                            <select class='campo' id="status" name="status">
                                <option value=""></option>
                                <option value="A">Agendado</option>
                                <option value="P">Pago</option>
                                <option value="E">Entregue</option>
                                <option value="F">Fechado</option>
                            </select>
                        </div>
                    </div>

                    <div class='linha'>
                        <div class='conjunto campoTamMax'>
                            <label class='label' for='observacao'>Observação</label>
                            <textarea class='texto' id='observacao' name='observacao'></textarea>
                        </div>
                    </div>

                    <div class='linha'>
                        <div class='conjunto'>
                            <input type='submit' class='botao botaoAlterar' id='submit' value='Cadastrar' name='cadastro'/>
                        </div>
                    </div>
                
                </form>
            </div>
        </div>
        <!-- ------------------------- AQUI TERMINA O BLOCO DE CONTEUDO ------------------------- -->

    </body>
    <footer>
        <%- include('../partials/footer.ejs') %> 

        <%
        if(info == 1){ %>
            <script> alert("Festa cadastrada com sucesso");</script>
        <% } %>
    </footer>
</html>