<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/header.ejs') %>
    </head>
    <body>
        <%- include('../partials/menu.ejs') %>

        <!-- ------------------------- AQUI COMEÇA O BLOCO DE CONTEUDO -------------------------- -->

        <div class='title'>
            <h1>Cadastro de Festa</h1>
        </div>
        <div class='conteudo'>
            <div class='forms'>
                <form method='POST' action='/festaCadastro'> 

                    <div class='linha'>
                        <div class='conjunto campoTamMed'>
                            <label class='label' for='dataFesta'>Data da festa</label>
                            <input class='campo' type='date' id='dataFesta' name='dataFesta'/>
                        </div>
                        <div class='conjunto campoTamMin'>
                            <label class='label' for='horaMontagem'>Entrega</label>
                            <input class='campo' autofocus type='number' min="6" max='22' placeholder='Horas' id='horaMontagem' name='horaMontagem'/>
                        </div>
                        <div class='conjunto campoTamMin'>
                            <label class='label' for='horaDesmontagem'>Retirada</label>
                            <input class='campo' type='number' min="6" max='22' placeholder='Horas' id='horaDesmontagem' name='horaDesmontagem'/>
                        </div>
                    </div>

                    <div class='linha'>
                        <div class='conjunto campoTamMed'>
                            <label class='label' for='nomeCliente'>Nome do Cliente</label>
                            <input class='campo readonly' readonly placeholder='' type='text' id='nomeCliente' name='nomeCliente'/>
                        </div>

                        <div class='conjunto campoTamMin'>
                            <label class='label' for='cpfCliente'>CPF do Cliente</label>
                            <input class='campo readonly' type='text' readonly id='cpfCliente' name='cpfCliente'/>
                        </div>
                        <div class='conjunto campoTamMed'>
                            <label class='label' for='nomeCliente'>Consultar Cliente</label>
                            <input class='campo' placeholder='Informe o nome ou o CPF aqui' type='text' id='consulta'/>
                        </div>
                        <span><a href='javascript:getDados()'>Validar</a></span>
                    </div>

                    <div class='linha'>
                        <div class='conjunto campoTamMin'>
                            <label class='label' for='cep'>CEP</label>
                            <input class='campo'  type='text' id='cep' name='cep'/>  
                        </div>              
                        
                        <div class='conjunto campoTamMin'>
                            <label class='label' for='uf'>UF</label>
                            <select class='campo' id="uf" name="uf">
                                <option value=""></option>
                                <option value="SC">SC</option>
                                <option value="RS">RS</option>
                                <option value="PR">PR</option>
                            </select>
                        </div>

                        <div class='conjunto campoTamMed'>
                            <label class='label' for='cidade'>Cidade</label>
                            <input class='campo' type='text' id='cidade' name='cidade'/>
                        </div>
                    </div>

                    <div class='linha'>
                        <div class='conjunto campoTamMax'>
                            <label class='label' for='endereco'>Endereço</label>
                            <input class='campo' type='text' id='endereco' name='endereco'/>
                        </div>
                    </div>

                    <div class='linha'>
                        <div class='conjunto campoTamMed'>
                            <label class='label' for='valorFesta'>Valor da Festa</label>
                            <input class='campo' type='text' id='valorFesta' name='valorFesta'/>
                        </div>

                        <div class='conjunto campoTamMed'>
                            <label class='label' for='status'>Status</label>
                            <select class='campo' id="status" name="status">
                                <option value=""></option>
                                <option value="A">Agendado</option>
                                <option value="P">Pago</option>
                                <option value="E">Entregue</option>
                                <option value="F">Fechado</option>
                            </select>
                        </div>
                    </div>

                    <div class='linha'>
                        <div class='conjunto campoTamMax'>
                            <label class='label' for='observacao'>Observação</label>
                            <textarea class='texto' id='observacao' name='observacao'></textarea>
                        </div>
                    </div>

                    <div class='linha'>
                        <div class='conjunto'>
                            <input type='submit' class='botao botaoAlterar' id='submit' value='Cadastrar' name='cadastro'/>
                        </div>
                    </div>
                
                </form>
            </div>
        </div>
        <!-- ------------------------- AQUI TERMINA O BLOCO DE CONTEUDO ------------------------- -->

    </body>
    <footer>
        <%- include('../partials/footer.ejs') %> 

        <script src='/js/request.js'></script>
        <script>
            function getDados(){
                var consulta =  document.getElementById("consulta");
                if (consulta.value.length > 7) {
                    var xmlreq = CriarRequest();
                    xmlreq.open("GET", "/clienteValidar?consulta=" + consulta.value, true);
                    xmlreq.onreadystatechange = function(){
                        if (xmlreq.status == 200) {
                            var resposta = xmlreq.responseText;
                            var array = resposta.split('<td>');
                            document.getElementById("cpfCliente").value = array[0];
                            document.getElementById("nomeCliente").value = array[1];
                            document.getElementById("cep").value = array[2];
                            document.getElementById("uf").value = array[3];
                            document.getElementById("cidade").value = array[4];
                            document.getElementById("endereco").value = array[5];
                            consulta.value = "";
                        } else {
                            document.getElementById("nomeCliente").value = "Não encontrado";
                    }   }
                    xmlreq.send(null);
                } else {
                    document.getElementById("cpfCliente").value = "";
                    document.getElementById("nomeCliente").value = "Consulta de no mínimo 8 caracteres"; 
                    document.getElementById("cep").value = '';
                    document.getElementById("uf").value = '';
                    document.getElementById("cidade").value = '';
                    document.getElementById("endereco").value = '';
            }   }
            
        </script>

    <%  if (mensagem){  %>
        <script>alert('<%= mensagem %>')</script>
    <% } %>
    </footer>
</html>