<!DOCTYPE html>
<html>
    <head>
        <%- include('../includes/header.ejs') %>
    </head>
    <body>
        <%- include('../includes/menu.ejs') %>

        <!-- ------------------------- AQUI COMEÇA O BLOCO DE CONTEUDO -------------------------- -->

    </body>
    <footer>
        <%- include('../includes/footer.ejs') %>
    </footer>

    <%  if (mensagem){  %>
        <script>alert('<%= mensagem %>')</script>
    <% } %>
</html>