<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/header.ejs') %>
    </head>
    <body>
        <%- include('../partials/menu.ejs') %>

        <!-- ------------------------- AQUI COMEÇA O BLOCO DE CONTEUDO -------------------------- -->

        <div class='title'>
            <h1>Cadastro de Item</h1>
        </div>

        <div class="forms">
            <form name="form2" method="POST" action="/itemCadastro">
                <div class='linha'>
                    <label class='label' for='item'>Item</label>
                    <input type='text' id='item' name='item'/>
                </div>

                <div class='linha'>
                    <label class='label' for='tipo'>Tipo de Item</label>
                    <input type='text' id='tipo' name='tipo'/>
                </div>

                <div class='linha'>
                    <label class='label' for='tema'>Temática do Item</label>
                    <input type='text' id='tema' name='tema'/>
                </div>

                <div class='linha'>
                    <label class='label' for='preco'>Preço</label>
                    <input type='text' id='preco' name='preco'/>
                </div>

                <div class='linha'>
                    <label class='label' for='descricao'>Descrição do Item</label>
                    <input type='text' id='descricao' name='descricao'/>
                </div>

                <input type="submit" name="Botao" value="Cadastrar">
            </form>
        </div>
    </body>
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</html>