<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/header.ejs') %>
    </head>
    <body>
        <%- include('../partials/menu.ejs') %>

        <!-- ------------------------- AQUI COMEÇA O BLOCO DE CONTEUDO -------------------------- -->

        <div class='title'>
            <h1>Cadastro de Item</h1>
        </div>
        <div class='conteudo'>
            <div class="forms">
                <form name="form2" method="POST" action="/itemCadastro">
                    <div class='linha'>
                        <div class="conjunto campoTamMax">
                            <label class='label' for='item'>Item</label>
                            <input class='campo' type='text' id='item' name='item'/>
                        </div>
                    </div>

                    <div class='linha'>
                        <div class="conjunto campoTamMed">
                            <label class='label' for='tipo'>Tipo de Item</label>
                            <input class='campo' type='text' id='tipo' name='tipo'/>
                        </div> 

                        <div class="conjunto campoTamMed">
                            <label class='label' for='tema'>Temática do Item</label>
                            <input class='campo' type='text' id='tema' name='tema'/>
                        </div>
                    </div>

                    <div class='linha'>
                        <div class="conjunto campoTamMin">
                            <label class='label' for='preco'>Preço</label>
                            <input class='campo' type='text' id='preco' name='preco'/>
                        </div>
                        <div class="conjunto campoTamMin">
                            <label class='label' for='valorAluguel'>Valor aluguel</label>
                            <input class='campo' type='text' id='valorAluguel' name='valorAluguel'/>
                        </div>
                    </div>

                    <div class='linha'>
                        <div class="conjunto campoTamMax">
                            <label class='label' for='descricao'>Descrição do Item</label>
                            <textarea class='texto' id='descricao' name='descricao'></textarea>
                        </div>
                    </div>

                    <div class='linha'>
                        <div class="conjunto">
                            <input type="submit" class='botao botaoAlterar' name="Botao" value="Cadastrar">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
    <footer>
        <%- include('../partials/footer.ejs') %>
        <%  if (mensagem){  %>
            <script>alert('<%= conteudo %>')</script>
        <% } %>
    </footer>
</html>