<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel='stylesheet' type="text/css" href='/css/login.css'/>
        <title>Festa Infantil</title>
    </head>
    <body>

        <!-- ------------------------- AQUI COMEÇA O BLOCO DE CONTEUDO -------------------------- -->
            <div class="conteiner">
                <div id='cabecalho'>
                    <h2 class='titulo'>Sistema de Aluguel de Festa Infantil</h2>
                </div>
        
        
                <div class='login'>
                    <form name="login" method="POST" action='/login'>
                        <p>Usuário<br/>
                            <input type='text' class='campo' name='login' id='login' placeholder='Insira aqui seu login' /></p>  
                        <p>Senha<br/>
                            <input type='password' class='campo' name='senha' id='senha' /></p> 
                        <p><input id='submit' class='botao' type="submit" name="submit" value="Entrar"></p>
                    </form>
                </div>
                <div>
                    <br/><a href="#" >Esqueceu a senha?</a>
                </div>
            </div>

        </form>

        <!-- ------------------------- AQUI TERMINA O BLOCO DE CONTEUDO -------------------------- -->

    </body>
    <footer>
        <%- include('./includes/footer.ejs') %>

        <%  if (mensagem){  %>
            <script>alert('<%= mensagem %>')</script>
        <% } %>
    </footer>
</html>