<input type='text' id='teste' />
<button type='button' onclick='insereValor()'>Inserir</button>

<span id='valores'></span>

<script>

    linha = "<p id='nome'>Nome</p><p id='turma'>Turma</p>";
    array = linha.split('</p>');
    array.forEach( valorArray => {
        console.log(valorArray);
    })

    var array = ['1', '2', '3'];

    function insereValor(){
        var valor = document.querySelector('#teste').value;

        var igual = false;
        array.forEach(valorArray => {
            if (valorArray == valor)
                igual = true;        
        });
        if (!igual) {
            array.push(valor);
        } else {
            alert('valor dublicado');
        }

        document.querySelector('#teste').value = '';
        document.querySelector('#valores').innerHTML = array.join(', ');
    }
</script>

<!-- 

SELECT * FROM usuarios u INNER JOIN eventos e ON e.id = u.id
            WHERE e.publicado is not null
            GROUP BY u.email

Utilizando o MongoDB teríamos o equivalente conforme abaixo:

db.usuarios.find(('eventos.publicado': ($ne: null)))

-----------------------------------------
db.customers.find({nome: "Luiz", idade: {$gte: 18}})

//remove a string tag1 do array tags
> db.artigos.updateOne({_id:1}, {$pull: {tags: "tag1"}})
 
//adiciona a string tag1 no array tags
> db.artigos.updateOne({_id:1}, {$push: {tags: "tag1"}})

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
{
   _id: ObjectId("123abc"),
   titulo: "Artigo 1",
   tags: ["NodeJs", "MongoDB"],
   categorias: [{_id: 1, nome: "Desenvolvimento"}, {_id:2, nome: "Banco de Dados"}]
},
{
   _id: ObjectId("456def"),
   titulo: "Artigo 2",
   tags: ["NodeJs"],
   categorias: [{_id: 1, nome: "Desenvolvimento"}]
},
{
   _id: ObjectId("789ghi"),
   titulo: "Artigo 3",
   tags: ["MongoDB"],
   categorias: [{_id:2, nome: "Banco de Dados"}]
}


slug: {
type:String,
required:[true,'O slug e obrigatorio'],
trim:true,
index:true,
unique:true,
},
pinV: {
type:Array,
required:true,
}

db.Atividades.distinct(“categoria”)

No mongodb esta assim:

_id:ObjectId("5ce7cf89ed6ae01ffc4c44f2")
pinV:Array
0:"V1"
1:"V2"
2:"V3"
slug:"analogic"
__v:0

Metodo Post:

exports.post = (req, res, next) => {
ChemaPinVarray
.findByIdAndUpdate(req.params.id, {
$set: {
//title:req.body.title,
//description:req.body.description,
pinV:req.body.pinV,
slug:req.body.slug
}
}).then(x => {
res.status(200).send({
message: 'Produto atualizado...'
});
}).catch(e => {
res.status(400).send({
message: 'Erro ao atualiza product...',
data: e
});
});
};

-->