<!DOCTYPE html>
<html>
    <head>
        <%- include('./includes/header.ejs') %>
    </head>
    <body>
        <%- include('./includes/menu.ejs') %>

        <!-- ------------------------- AQUI COMEÇA O BLOCO DE CONTEUDO -------------------------- -->
        <div class='title'>
            <h1>Cadastro de Usuário</h1>
        </div>

        <div class='conteudo'>
            <div class='forms'>
                <form method='POST' action='/userCadastro'> 

                    <div class='linha'>
                        <div class='conjunto campoTamMed'>
                            <label class='label' for='nome'>Nome</label><br/>
                            <input autofocus class='campo' type='text' id='nome' name='nome'/>
                        </div>

                        <div class='conjunto campoTamMed'>
                            <label class='label' for='login'>Login</label><br/>
                            <input class='campo' type='text' id='login' name='login'/>
                        </div>
                    </div>

                    <div class='linha'>
                        <div class='conjunto campoTamMed'>
                            <label class='label' for='cpf'>CPF</label><br/>
                            <input class='campo' type='text' id='cpf' name='cpf'/>
                        </div>
                        <div class='conjunto campoTamMed'>
                            <label class='label' for='dataNascimento'>Nascimento</label><br/>
                            <input class='campo' type='date' id='dataNascimento' name='dataNascimento'/>
                        </div>
                    </div>
                    
                    <div class='linha'>
                        <div class='conjunto campoTamMed'>
                            <label class='label' for='telefone'>Telefone</label><br/>
                            <input class='campo' type='text' id='telefone' name='telefone'/>
                        </div>
                        
                        <div class='conjunto campoTamMed'>
                            <label class='label' for='celular'>Celular</label><br/>
                            <input class='campo' type='text' id='celular' name='celular'/>
                        </div>
                    </div>

                    <div class='linha'>
                        <div class='conjunto campoTamMax'>
                            <label class='label' for='email'>E-mail</label><br/>
                            <input class='campo' type='text' id='email' name='email'/>
                        </div>
                    </div>

                    <div class='subtitle'>
                        <h2>Permissões</h2>
                    </div>

                    <div class="linha">
                        <div class='conjunto campoTamMed'>
                            <label class='label' for='cep'>Festa</label><br/>
                            <div class='checkbox'>
                                <input type='checkbox' id='festaEditar' name='festaEditar'>Cadastro</input> 

                                <input type='checkbox' id='festaConsultar' name='festaConsultar'>Consulta</input>  
                            </div>
                        </div>


                        <div class='conjunto campoTamMed'>
                            <label class='label' for='cep'>Cliente</label><br/>
                            <div class='checkbox'>
                                <input type='checkbox' id='clienteEditar' name='clienteEditar'>Cadastro</input> 

                                <input type='checkbox' id='clienteConsultar' name='clienteConsultar'/>Consulta</input>
                            </div>
                        </div>
                    </div>   
                    
                    <div class="linha">
                        <div class='conjunto campoTamMed'>
                            <label class='label' for='cep'>Item</label><br/>
                            <div class='checkbox'>
                                <input type='checkbox' id='itemEditar' name='itemEditar'>Cadastro</input> 

                                <input type='checkbox' id='itemConsultar' name='itemConsultar'>Consulta</input>  
                            </div>
                        </div>


                        <div class='conjunto campoTamMed'>
                            <label class='label' for='cep'>Usuário</label><br/>
                            <div class='checkbox'>
                                <input type='checkbox' id='userEditar' name='userEditar'/>Cadastro</input> 

                                <input type='checkbox' id='userConsultar' name='userConsultar'/>Consulta</input>
                            </div>
                        </div>
                    </div>            

                    <div class='linha'>
                        <div class='conjunto'>
                            <input type='submit' class='botao botaoAlterar' value='Cadastrar' id='submit' name='cadastro'/>
                        </div>
                    </div>
                </form>
            </div>
            <div class='table'>
                <table>

                </table>
            </div>
        </div>
        <!-- ------------------------- AQUI TERMINA O BLOCO DE CONTEUDO ------------------------- -->
    </body>
    <footer>
        <%- include('./includes/footer.ejs') %>
        <%  if (mensagem){  %>
            <script>alert('<%= mensagem %>')</script>
        <% } %>
    </footer>
</html>