* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
}

.cabecalho{
    position: static;
    height: 60px;
    background: linear-gradient(to right, #4CA1AF, #C4E0E5);
}

.cabecalho h1{
    color: #eeeeee;
    padding-top: 12px;
    padding-left: 40px;
    text-shadow: 1px 1px 1px rgb(63, 138, 150)
}

.menu{
    background-color: #C4E0E5;
    margin: 0;
    padding-bottom: 10px;
    width: 18%;
    min-width: 150px;
    height: calc(100vh - 60px);
    float: left;
}

a {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.link {
    padding-left: 15%;
    padding-bottom: 12px;
    padding-top: 12px;
    padding-right: 0;
    background-color: #C4E0E5;
    transition: filter 0.4s;
}

.link:hover {
    filter: brightness(110%);
}

.link a {
    font-size: 20px;
    color: #11A;
}

.submenu {
    color: #116;
    padding-left: 7%;
    padding-top: 10px;
    border-top-color: rgb(114, 185, 196);
    border-top-width: 2px ;
    border-top-style: solid;
    background: linear-gradient(to bottom, #8acbd4, #C4E0E5);
}

.title{
    background: linear-gradient(to right, #d7eaee, #d4f7e9);
    padding-top: 5px;
    padding-bottom: 5px;
    width: 82%;
    float: right;
    margin-bottom: 10px;
    padding-left: 3%;
    color: #116;
}

.conteudo{
    margin: 0; 
    width: 82%;
    float: right;
    padding: 0 3%;
}

.tabela {
	font-size: 18px;
	border: solid 1px;
    width: 95%;
    border-color: rgba(0, 0, 0, 0.1);
    border-spacing: 0;
}

.tabela td {
    border: solid 1px;
    border-color: rgba(0, 0, 0, 0.1);
}

.tabela tr {
    text-align:center;
    height: 33px;
}

.tabelaConsulta{
    height: 190px;
}

.linhaCabecalho{
    background-color: #3796a5;
    color: rgb(230, 230, 230);
}

.linha1{
    background-color: #dcf1f1;
    color: rgb(30, 30, 30);
}

.linha2{
    background-color: rgb(172, 212, 230);
    color: rgb(30, 30, 30);
}


.botao {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    color: #ffffff;
    height: 33px;
    width: 170px;
    font-size: 18px;
    transition: filter 0.2s;
}

.botao:hover {
    filter: brightness(80%);
}

.botao a{
    color: #ffffff;
}

.botaoAlterar {
    background-color:  rgb(40, 167, 57);
}

.botaoConsulta {
    background-color:  #4CA1AF;
}
.botaoExcluir {
    background-color:  rgb(158, 39, 39);
}

.botaoTabela{
    border-radius: 5px;
    border-width: 1px;
    border-color: #dcf1f1;
    color: #ffffff;
    height: 28px;
    width: 120px;
    font-size: 18px;
    transition: filter 0.2s;
}

.linha{
    margin: 7px;
    width: 100%;
}

.conjunto{
    display: inline-block;
    padding: 0 7px;
}

.conjunto label{
    font-size: 20px;
    color: #006a7a ;
}

.campo {
    border-radius: 5px;
    border-style: solid;
    width: 100%;
    border-width: 2px;
    border-color: #75bac5;
    height: 32px;
    font-size: 17px;
    transition: box-shadow .2s ease-in-out;
}

.campo:focus {
    box-shadow:0 0 0 .2rem rgba(0,123,255,.25);
}

.readonly {
    background-color: rgb(230, 230, 230);
}

.texto {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    border-style: solid;
    width: 100%;
    border-width: 2px;
    border-color: #75bac5;
    height: 80px;
    font-size: 17px;
    line-height: 24px;
    resize: vertical;
}

.campoTamMax {
    width: 61%;
}

.campoTamMed {
    width: 30%;
}

.campoTamMin {
    width: 15%;
}